@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  height: 20px;
  width: 80px;
  background: #dde1e7;
  border-radius: 20px;
  margin: 20px;
  box-shadow: -5px 1.5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}